.contact__container {
  a {
    transition: 0.2s ease;
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-primary);
    border-radius: 1rem;
    padding: 0 1rem;
    cursor: pointer;

    &:hover {
      background: var(--color-black);
    }
  }
}
