header {
  width: 100%;
  background: #fa163f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  color: #fff;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  .navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 15px;

    li {
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
